$contentBackground: #fff;
$articleBackground: #e7e7e7;
$borderStyle: 2px solid #b8b8b8;
$mainTextColor: #3fc7db;
$imgDescriptionColor: lighten($mainTextColor, 10%);
$articleTextColor: darken($mainTextColor, 20%);
$paragraphTextColor: #7F8793;
$mainStyleText: Roboto, San Francisco, sans-serif;
$hoverColorEfect: $mainTextColor;
