$contentBackground: #e7e7e7;
$articleBackground:  #fff;
$borderStyle: 2px solid #b8b8b8;
$mainTextColor: #db3f3f;
$imgDescriptionColor: #7F8793;
$articleTextColor: #626872;
$paragraphTextColor: #7F8793;
$mainStyleText: Roboto, San Francisco, serif;
$hoverColorEfect: $mainTextColor;